@{
    ViewData["Title"] = "Mi bitácora";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model Gestor_Digital_ASADA_CL.Models.BitacoraViewModel

<h2 class="mt-2">Mi bitácora personal</h2>
<hr />

<div class="row">
    <div class="col-12">
        <a data-bs-toggle="modal" data-bs-target="#modalBuscar" href="#" class="btn btn-dark me-1"><i class="fas fa-search"></i></a>
        <a asp-controller="PersonalBinnacle" asp-action="Index" class=" btn btn-dark me-1"> <i class="fas fa-sync"></i> </a>
        <form method="POST" asp-controller="PersonalBinnacle" asp-action="RegistrarActividad" class="needs-validation" novalidate>
            <div class="form-group">
                <label for="note">¿Qué hiciste?</label>
                <textarea asp-for="Detalle" class="form-control" id="note" rows="3" required></textarea>
                <div class="invalid-feedback">
                    Anota algo primero
                </div>
            </div>
            <div class="form-group">
                <button type="submit" style="background-color: #6DC7F6;" class=" mt-2 btn btn-success">Anotar</button>
            </div>
        </form>
    </div>
</div>

@if (ViewBag.EstadoActividad != null)
{
    @if (ViewBag.EstadoActividad != null)
    {
        <div class="alert alert-success mt-1">
            <button type="button" class="btn close" data-bs-dismiss="alert">&times;</button>
            <strong>@ViewBag.EstadoActividad</strong>
        </div>
    }
}

@if (ViewBag.palabras != null)
{
    @if (ViewBag.cantidadResultado != null)
    {
        <div class="alert alert-success ">
            <button type="button" class="btn close" data-bs-dismiss="alert">&times;</button>
            <strong>@ViewBag.cantidadResultado coincidencia(s) encontradas sobre '@ViewBag.palabras'</strong>
        </div>
    }
    else
    {
        <div class="alert alert-warning ">
            <button type="button" class="btn close" data-bs-dismiss="alert">&times;</button>
            <strong>No se han encontrado coincidencias para '@ViewBag.palabras'</strong>
        </div>
    }
}

<div class="row py-3">
    @if (ViewBag.actividades != null)
    {

        @foreach (BitacoraViewModel bitacora in ViewBag.actividades)
        {
            <div class="col-sm-4 my-2">
                <div class="actividad_t card shadow menu__card py-3">
                    <div id="body" class="card-body">
                        <h3 id="idBitacora">#@bitacora.IdBitacora</h3>
                        <h5 id="detalle" class="">
                            @bitacora.Detalle
                        </h5>
                        <hr />
                        <h5 id="titulo_actividad" class="card-title">@bitacora.Fecha</h5>
                        <div id="acciones" class="d-flex justify-content-center justify-content-xl-start flex-wrap">
                            <a class="btn btn-warning btn-sm m-1" onclick="putOnModalActivity(this); return false;" class="btn btn-warning btn-sm m-1" data-bs-toggle="modal" data-bs-target="#modalEditar">Editar</a>
                            <a class="btn btn-danger btn-sm m-1" onclick="putOnModalDelete(this); return false;" data-bs-toggle="modal" data-bs-target="#deleteModal">Borrar</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
<div class="modal" id="modalEditar" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div style="background-color: #6DC7F6;" class="modal-header">
                <h5 class="modal-title">Editar actividad</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" asp-controller="PersonalBinnacle" asp-action="ModificarActividad" class="mt-2 ml-2 p-3 needs-validation" novalidate>
                    <div class="form-group">
                        <label for="idb">Nota: #</label>
                        <input id="idb" style="border:0; background-color:#ffffff; outline:none" readonly asp-for="IdBitacora">
                        <textarea class="form-control" id="taDetalleModificar" style="resize:none;" rows="8" asp-for="Detalle" required></textarea>
                        <div class="invalid-feedback">
                            Anota algo primero
                        </div>
                    </div>
                    <button type="submit" data-bs-toggle="modal" data-bs-target="#modalMensaje" style="background-color: #6DC7F6;" class="btn btn-primary mt-2">Guardar cambios</button>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" style="background-color: #313436;" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalBuscar" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div style="background-color: #6DC7F6;" class="modal-header">
                <h5 class="modal-title">Buscar una actividad</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="get" asp-controller="PersonalBinnacle" asp-action="BuscarActividad" class="mt-2 ml-2 p-3 needs-validation" novalidate>
                    <div class="input-group">
                        <input name="palabras" type="search" class="form-control rounded" placeholder="Ingresa una palabra clave" aria-label="Search"
                               aria-describedby="search-addon" required />
                        <div class="invalid-feedback">
                            Agrega una palabra clave
                        </div>
                        <button type="submit" class="btn-search btn btn-outline-primary">Buscar</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" style="background-color: #313436;" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div style="background-color: #6DC7F6;" class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Está seguro de eliminar esta actividad?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <form method="POST" asp-controller="PersonalBinnacle" asp-action="BorrarActividad">
                <label for="idb">La actividad: </label>
                <input type="number" id="idDelete" style="border:0; background-color:#ffffff; outline:none" readonly name="idBitacora">
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>

        </div>
    </div>
</div>

<script src="~/js/PersonalBinnacle.js" asp-append-version="true"></script>

@section scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">

        $(document).ready(function () {
            if ('@ViewBag.ShowModalResponse' === 'True') {
               createModalResponse("@ViewBag.mensaje");
            }
           });
    </script>
}
