@model DailyCollectionViewModel
@{
    ViewData["Title"] = "Gestor de recaudación diaría";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="mt-4 mb-2">
    <h1 class="promo-table__title d-inline me-3">Gestor de recaudación diaría</h1>
    <button id="btn__add--collection" class="btn mb-3 d-inline btn__add"
            data-bs-toggle="modal"
            data-bs-target="#addModal"
            data-bs-placement="right"
            title="Agregar recaudación diaria">
        <img src="~/assets/add_black_24dp.svg" alt="Icono de agregar" />
    </button>
    <button id="btn__search--collection" class="btn mb-3 d-inline btn__search"
            data-bs-toggle="modal"
            data-bs-target="#searchModal"
            data-bs-placement="right"
            title="Busqueda de usuarios">
        <img src="~/assets/search_black_24dp.svg" alt="Icono de busqueda" />
    </button>
    <button id="btn__refresh--collection" class="btn mb-3 d-inline btn__refresh"
            title="Refrescar tabla"  onclick="refreshPage(); return false">
        <img src="~/assets/refresh_black_24dp.svg" alt="Icono de refresco" />
    </button>
</div>
<hr />
<div>
    <div class="row table-responsive">
        <div class="col-12">
            <table class="table table-bordered table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Cantidad efectivo</th>
                        <th scope="col">Cantidad tarjeta</th>
                        <th scope="col">Cantidad SINPE</th>
                        <th scope="col">Cantidad IVA</th>
                        <th scope="col">Cantidad hidrantes</th>
                        <th scope="col">Cantidad recibos</th>
                        <th scope="col">Total recaudado</th>
                        <th scope="col">Fecha de recaudación</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody id="tbodyDailyCollection">
                    @if (ViewBag.Collections != null)
                    {
                        @foreach (DailyCollectionViewModel dailyCollection in ViewBag.Collections)
                        {
                    <tr>
                        <td>@dailyCollection.IdRecaudacion</td>
                        <td>@dailyCollection.CantidadEfectivo</td>
                        <td>@dailyCollection.CantidadTarjeta</td>
                        <td>@dailyCollection.CantidadSinpe</td>
                        <td>@dailyCollection.CantidadIva</td>
                        <td>@dailyCollection.CuentaHidrantes</td>
                        <td>@dailyCollection.CantidadRecibos</td>
                        <td>@dailyCollection.TotalRecaudado</td>
                        <td>@dailyCollection.FechaRecaudacion.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        @foreach (var item in ((IEnumerable<dynamic>)ViewBag.Users).Where(x => x.IdUsuario == dailyCollection.IdUsuario))
                        {
                            <td>@item.Nombre</td>
                        }
                        <td>
                            <button class="btn btn-primary btn-sm my-1 my-xl-0" data-bs-toggle="modal" data-bs-target="#editModal" onclick="putCollectionOnEditModal(this); return false;">
                                Modificar
                                <img src="~/assets/edit_white_18dp.svg" alt="Icono eliminar usuario" class="ms-2 my-1" />
                            </button>
                        </td>
                    </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Busqueda de recaudaciones diarias</h5>
            </div>
            <form class="was-validated" method="get" asp-controller="DailyCollection" asp-action="GetCollectionsByDateRange">
                <div class="modal-body">
                    <div class="container">
                        <div class="mb-3">
                            <label for="inputName" class="form-label">Fecha inicial</label>
                            <input id="inputName" class="form-control is-invalid" type="datetime-local" asp-for="FechaRecaudacion" required>
                            <span class="field-validation-error" asp-validation-for="FechaRecaudacion"></span>
                        </div>
                        <div class="mb-3">
                            <label for="inputName" class="form-label">Fecha final</label>
                            <input id="inputName" class="form-control is-invalid" type="datetime-local" asp-for="FechaRecaudacionFinal" required>
                            <span class="field-validation-error" asp-validation-for="FechaRecaudacionFinal"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button id="btn-search" type="submit" class="btn btn-primary">Buscar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modificación de información de recaudación diaria</h5>
            </div>
            <form class="row g-3 p-3 was-validated" method="post" asp-controller="DailyCollection" asp-action="Edit">
                <input id="inputIdCollection" class="form-control is-invalid" type="hidden" asp-for="IdRecaudacion" />
                <div class="col-md-4">
                    <label for="inputCash" class="form-label">Efectivo</label>
                    <input id="inputCash" class="form-control" type="number" min="0" step=".01" placeholder="Cantidad de efectivo" asp-for="CantidadEfectivo" required>
                    <span class="field-validation-error" asp-validation-for="CantidadIva"></span>
                </div>
                <div class="col-md-4">
                    <label for="inputSINPE" class="form-label">SINPE</label>
                    <input id="inputSINPE" class="form-control" type="number" placeholder="Cantidad de SINPE" asp-for="CantidadSinpe" required>
                    <span class="field-validation-error" asp-validation-for="CantidadSinpe"></span>
                </div>
                <div class="col-md-4">
                    <label for="inputCard" class="form-label">Tarjeta</label>
                    <input id="inputCard" class="form-control" type="number" min="0" step=".01" placeholder="Cantidad de tarjeta" asp-for="CantidadTarjeta" required>
                    <span class="field-validation-error" asp-validation-for="CantidadTarjeta"></span>
                </div>
                <div class="col-md-6">
                    <label for="inputInvoice" class="form-label">Recibos</label>
                    <input id="inputInvoice" class="form-control" type="number" placeholder="Cantidad de recibos" asp-for="CantidadRecibos" required>
                    <span class="field-validation-error" asp-validation-for="CantidadRecibos"></span>
                </div>
                <div class="col-md-6">
                    <label for="inputTax" class="form-label">Impuesto al Valor Agregado (IVA)</label>
                    <input id="inputTax" class="form-control" type="number" min="0" step=".01" placeholder="Cantidad de IVA" asp-for="CantidadIva" required>
                    <span class="field-validation-error" asp-validation-for="CantidadIva"></span>
                </div>
                <div class="col-md-12">
                    <label for="inputHydrant" class="form-label">Hidrantes</label>
                    <input id="inputHydrant" class="form-control" type="number" placeholder="Cantidad de hidrantes" asp-for="CuentaHidrantes" required>
                    <span class="field-validation-error" asp-validation-for="CuentaHidrantes"></span>
                </div>
                <div class="col-12">
                    <label for="inputDate" class="form-label">Fecha de recaudación</label>
                    <input id="inputDate" class="form-control" type="datetime-local" asp-for="FechaRecaudacion" required />
                    <span class="field-validation-error" asp-validation-for="FechaRecaudacion"></span>
                </div>
                <div class="col-12">
                    <label for="inputTotal" class="form-label">Total</label>
                    <input id="inputTotal" class="form-control" type="number" min="0" step=".01" placeholder="Total recaudado" asp-for="TotalRecaudado" required>
                    <span class="field-validation-error" asp-validation-for="TotalRecaudado"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button id="btn-search" type="submit" class="btn btn-primary">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Registrar recaudación diaria</h5>
            </div>
            <form class="row g-3 p-3 was-validated" method="post" asp-controller="DailyCollection" asp-action="Create">
                <div class="col-md-4">
                    <label for="inputCash" class="form-label">Efectivo</label>
                    <input id="inputCash" class="form-control" type="number" min="0" step=".01" placeholder="Cantidad de efectivo" asp-for="CantidadEfectivo" required>
                    <span class="field-validation-error" asp-validation-for="CantidadIva"></span>
                </div>
                <div class="col-md-4">
                    <label for="inputSINPE" class="form-label">SINPE</label>
                    <input id="inputSINPE" class="form-control" type="number" placeholder="Cantidad de SINPE" asp-for="CantidadSinpe" required>
                    <span class="field-validation-error" asp-validation-for="CantidadSinpe"></span>
                </div>
                <div class="col-md-4">
                    <label for="inputCard" class="form-label">Tarjeta</label>
                    <input id="inputCard" class="form-control" type="number" min="0" step=".01" placeholder="Cantidad de tarjeta" asp-for="CantidadTarjeta" required>
                    <span class="field-validation-error" asp-validation-for="CantidadTarjeta"></span>
                </div>
                <div class="col-md-6">
                    <label for="inputInvoice" class="form-label">Recibos</label>
                    <input id="inputInvoice" class="form-control" type="number" placeholder="Cantidad de recibos" asp-for="CantidadRecibos" required>
                    <span class="field-validation-error" asp-validation-for="CantidadRecibos"></span>
                </div>
                <div class="col-md-6">
                    <label for="inputTax" class="form-label">Impuesto al Valor Agregado (IVA)</label>
                    <input id="inputTax" class="form-control" type="number" min="0" step=".01" placeholder="Cantidad de IVA" asp-for="CantidadIva" required>
                    <span class="field-validation-error" asp-validation-for="CantidadIva"></span>
                </div>
                <div class="col-md-12">
                    <label for="inputHydrant" class="form-label">Hidrantes</label>
                    <input id="inputHydrant" class="form-control" type="number" placeholder="Cantidad de hidrantes" asp-for="CuentaHidrantes" required>
                    <span class="field-validation-error" asp-validation-for="CuentaHidrantes"></span>
                </div>
                <div class="col-12">
                    <label for="inputDate" class="form-label">Fecha de recaudación</label>
                    <input id="inputDate" class="form-control" type="datetime-local" asp-for="FechaRecaudacion" required />
                    <span class="field-validation-error" asp-validation-for="FechaRecaudacion"></span>
                </div>
                <div class="col-12">
                    <label for="inputTotal" class="form-label">Total</label>
                    <input id="inputTotal" class="form-control" type="number" min="0" step=".01" placeholder="Total recaudado" asp-for="TotalRecaudado" required>
                    <span class="field-validation-error" asp-validation-for="TotalRecaudado"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button id="btn-search" type="submit" class="btn btn-primary">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script> @*Considerar descargar la libreria*@
    <script src="~/js/dailyCollection.js" asp-append-version="true"></script>
    <script type="text/javascript">
            $(document).ready(function () {
            if ('@ViewBag.ShowModalResponse' === 'True') {
                createModalResponse2("@ViewBag.Message");
            }
           });
    </script>
}