@{
    ViewData["Title"] = "Gestor de inventario";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model Gestor_Digital_ASADA_CL.Models.ProductViewModel

<h2 class="mt-2">Inventario de productos</h2>
<hr />

<div class="row">
    <div class="col col-md-6">
        <div class="input-group mt-3">
            <form method="get" asp-controller="Product" asp-action="BuscarProducto" class="needs-validation" novalidate>
                <div class="input-group">
                    <input type="search" name="producto" id="producto" class="form-control rounded" placeholder="nombre ó c-código" aria-label="Search"
                           aria-describedby="search-addon" required />
                    <div class="invalid-feedback">
                        Ingresa un valor para buscar
                    </div>
                    <button type="submit" class="btn btn-outline-primary ms-1">buscar</button>
                    <a style="background-color: #6DC7F6;" asp-controller="Product" asp-action="IndexAdmin" class=" btn btn-success ms-1"> <i style="background-color: #6DC7F6;" class="fas fa-sync"></i> </a>
                </div>
            </form>  
        </div>
    </div>
</div>

<button type="button" data-bs-toggle="modal" data-bs-target="#modalRegistrar" class="mb-2 mt-2 btn btn-primary">Agregar nuevo</button>
<button type="button" data-bs-toggle="modal" data-bs-target="#modalVerInforme" class="mb-2 mt-2 ms-lg-auto btn btn-primary">Ver reportes</button>

@if (ViewBag.resultadoBusqueda != null)
{
    @if (ViewBag.cantidadResultado != null)
    {
        <div class="alert alert-success ">
            <button type="button" class="btn close" data-bs-dismiss="alert">&times;</button>
            <strong>Se han encontrado @ViewBag.cantidadResultado resultado(s) sobre '@ViewBag.productoBuscar'</strong>
        </div>
    }
    else
    {
        <div class="alert alert-warning ">
            <button type="button" class="btn close" data-bs-dismiss="alert">&times;</button>
            <strong>No se han encontrado resultado(s) sobre '@ViewBag.productoBuscar'</strong>
        </div>
    }
}

<div class="row table-responsive">
    <div class="col-12">
        <table id="table" class="table table-hover">
            <thead>
                <tr>
                    <th>Código</th>
                    <th> Nombre</th>
                    <th>Valor unitario</th>
                    <th>Cantidad</th>
                    <th>Fecha de ingreso</th>
                    <th>Descripción</th>
                    <th>Solic. herramienta</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.products != null)
                {
                    @foreach (ProductViewModel temp in ViewBag.products)
                    {
                        <tr>
                            <td>@temp.CodigoProducto</td>
                            <td>@temp.NombreProducto</td>
                            <td>@temp.ValorUnitario</td>
                            <td>@temp.Cantidad</td>
                            <td>@temp.FechaIngreso</td>
                            <td>@temp.Descripcion</td>
                            <td>
                                <button class="btn btn-primary" onclick="putOnModalReport(this); return false;" data-bs-toggle="modal" data-bs-target="#modalTomar">
                                    <i class="fas fa-hand-paper"></i>
                                </button>
                                <button class="btn btn-info" onclick="putOnModal(this); return false;" data-bs-toggle="modal" data-bs-target="#modalEditar">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button class="btn btn-danger" onclick="putOnModalDelete(this); return false;" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal" id="modalTomar" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div style="background-color: #6DC7F6;" class="modal-header">
                <h5 id="productoSolicitado" class="modal-title"></h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" asp-controller="Product" asp-action="RealizarReporte" class="mt-2 ml-2 p-3 needs-validation" novalidate>
                    <h5 class="modal-data mt-1">Yo: <span style="color: #6DC7F6;">@this.Context.User.Identity.Name</span></h5>
                    <div class="form-group">
                        <label for="taDetalles">Reporto solicitud de:</label>
                        <input readonly type="text" name="productoS" class="form-control" id="productoS" required>
                    </div>
                    <div class="form-group mt-2">
                        <label for="itStocl">Tomaré la cantidad de: </label>
                        <input type="number" min="1" name="cantidad" value="" class="form-control" id="stock" placeholder="productos" required>
                        <div class="invalid-feedback">
                            Elige una cantidad
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="taDetalles">Para la cual:</label>
                        <textarea class="form-control" id="detalles" name="detalles" style="resize:none; height:5em; width:20em;" placeholder="detalles" required></textarea>
                        <div class="invalid-feedback">
                            El detalle es obligatorio
                        </div>
                    </div>
                    <button type="submit" data-bs-toggle="modal" data-bs-target="#modalMensaje" style="background-color: #6DC7F6;" class="btn btn-primary mt-2">Reportar</button>
                </form>
            </div>
            <div style="background-color: #6DC7F6;" class="modal-footer">
                <button type="button" style="background-color: #313436;" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalEditar" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div style="background-color: #6DC7F6;" class="modal-header">
                <h5 class="modal-title">Editar producto</h5>
            </div>
            <div class="modal-body">
                <form method="post" asp-controller="Product" asp-action="EditarProducto" class="mt-2 ml-2 p-3">
                    <div class="form-group">
                        <label for="codigo">Código: </label>
                        <input style="border:0; background-color:#ffffff; outline:none" asp-for="CodigoProducto" readonly id="codigo">
                        <span class="field-validation-error" asp-validation-for="CodigoProducto"></span>
                    </div>
                    <div class="form-group">
                        <label class="mt-2" for="nombre">Nombre: </label>
                        <input class="mt-2 form-control" id="nombre" asp-for="NombreProducto">
                        <span class="field-validation-error" asp-validation-for="NombreProducto"></span>
                    </div>

                    <div class="form-group">
                        <label for="cantidad">cantidad: </label>
                        <input min="1" class="form-control" id="cantidad" asp-for="Cantidad">
                        <span class="field-validation-error" asp-validation-for="Cantidad"></span>
                    </div>

                    <div class="form-group">
                        <label for="valor">valor unitario: </label>
                        <input class="form-control" id="valor" asp-for="ValorUnitario">
                        <span class="field-validation-error" asp-validation-for="ValorUnitario"></span>
                    </div>
                    <div class="form-group">
                        <label for="fecha">Fecha de ingreso: </label>
                        <input class="form-control" id="fecha" asp-for="FechaIngreso">
                        <span class="field-validation-error" asp-validation-for="FechaIngreso"></span>
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripción: </label>
                        <textarea style="resize:none;" class="form-control" id="descripcion" asp-for="Descripcion" rows="3"></textarea>
                        <span class="field-validation-error" asp-validation-for="Descripcion"></span>
                    </div>
                    <button type="submit" data-bs-toggle="modal" data-bs-target="#modalMensaje" style="background-color: #6DC7F6;" class="btn btn-primary mt-2">Guardar cambios</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" style="background-color: #313436;" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div style="background-color: #6DC7F6;" class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Está seguro que desea eliminar este producto?</h5>
            </div>
            <div class="modal-body">
                <form method="POST" asp-controller="Product" asp-action="BorrarProducto">
                    <label for="codigoProducto">El producto de código: </label>
                    <input style="border:0; background-color:#ffffff; outline:none" readonly id="productCode" name="productCode">
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary mt-2">Confirmar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </div>         
                </form>
            </div>
            
        </div>
    </div>
</div>

<div class="modal" id="modalRegistrar" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div style="background-color: #6DC7F6;" class="modal-header">
                <h5 class="modal-title">Registrar producto</h5>
            </div>
            <div class="modal-body">
                <form method="POST" asp-controller="Product" asp-action="RegistrarProducto" class="mt-2 ml-2 p-3">
                    <div class="form-group">
                        <label for="codigo">Código: </label>
                        <input class="form-control" id="codigo" asp-for="CodigoProducto">
                        <span class="field-validation-error" asp-validation-for="CodigoProducto"></span>
                    </div>
                    <div class="form-group">
                        <label class="mt-2" for="nombre">Nombre: </label>
                        <input class="mt-2 form-control" id="nombre" asp-for="NombreProducto">
                        <span class="field-validation-error" asp-validation-for="NombreProducto"></span>
                    </div>

                    <div class="form-group">
                        <label for="cantidad">cantidad: </label>
                        <input min="1" class="form-control" id="cantidad" asp-for="Cantidad">
                        <span class="field-validation-error" asp-validation-for="Cantidad"></span>
                    </div>

                    <div class="form-group">
                        <label for="valor">valor unitario: </label>
                        <input class="form-control" id="valor" asp-for="ValorUnitario">
                        <span class="field-validation-error" asp-validation-for="ValorUnitario"></span>
                    </div>
                    <div class="form-group">
                        <label for="fecha">Fecha de ingreso: </label>
                        <input class="form-control" id="fecha" asp-for="FechaIngreso">
                        <span class="field-validation-error" asp-validation-for="FechaIngreso"></span>
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripción: </label>
                        <textarea style="resize:none;" class="form-control" id="descripcion" asp-for="Descripcion" rows="3"></textarea>
                        <span class="field-validation-error" asp-validation-for="Descripcion"></span>
                    </div>
                    <button type="submit" data-bs-toggle="modal" data-bs-target="#modalMensaje" style="background-color: #6DC7F6;" class="btn btn-primary mt-2">Agregar</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" style="background-color: #313436;" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalVerInforme" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div style="background-color: #6DC7F6;" class="modal-header">
                <h5 class="modal-title">Reporte de inventario</h5>
            </div>
            <div class="modal-body">
                <div class="row table-responsive">
                    <div class="col-12">
                        @if (ViewBag.reportes != null)
                        {
                            <table id="table" class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Código producto</th>
                                        <th>Usuario</th>
                                        <th>Cantidad</th>
                                        <th>Detalles</th>
                                        <th>Fecha</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (SolicitudProducto reporte in ViewBag.reportes)
                                    {
                                        <tr>
                                            <td>@reporte.CodigoProducto</td>
                                            <td> @reporte.NombreUsuario</td>
                                            <td>@reporte.Cantidad</td>
                                            <td>@reporte.Detalles</td>
                                            <td>@reporte.Fecha</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }else{
                            <h5>No hay reportes realizados</h5>
                        }
                        </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" style="background-color: #313436;" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Product.js" asp-append-version="true"></script>

@section scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function () {
            if ('@ViewBag.ShowModalResponse' === 'True') {
               createModalResponse("@ViewBag.mensaje");
            }
           });
    </script>
}
