@{
    ViewData["Titulo"] = "Menú principal";
    Layout = "~/Views/Shared/_ClientSiteLayout.cshtml";
}

@model Gestor_Digital_ASADA_CL.Models.ProductViewModel


<h2 class="mt-2">Inventario de productos</h2>
<hr />

<div class="row">
    <div class="col col-md-6">
        <div class="input-group mt-3">
            <form method="get" asp-controller="Product" asp-action="BuscarProducto" class="needs-validation" novalidate>
                <div class="input-group">
                    <input type="search" name="NombreProducto" id="producto" class="form-control rounded" placeholder="nombre ó c-código" aria-label="Search"
                           aria-describedby="search-addon" required />
                    <div class="invalid-feedback">
                        Ingresa un valor para buscar
                    </div>
                    <button type="submit" class="btn btn-outline-primary ms-1">buscar</button>
                    <a style="background-color: #6DC7F6;" asp-controller="Product" asp-action="Index" class=" btn btn-success ms-1"> <i style="background-color: #6DC7F6;" class="fas fa-sync"></i> </a>
                </div>
            </form>
        </div>
    </div>
</div>

@if (ViewBag.resultadoBusqueda != null)
{
    @if (ViewBag.cantidadResultado != null)
    {
        <div class="alert alert-success mt-1 ">
            <button type="button" class="btn close" data-bs-dismiss="alert">&times;</button>
            <strong>Se han encontrado @ViewBag.cantidadResultado resultado(s) sobre '@ViewBag.productoBuscar'</strong>
        </div>
    }
    else
    {
        <div class="alert alert-warning mt-1 ">
            <button type="button" class="btn close" data-bs-dismiss="alert">&times;</button>
            <strong>No se han encontrado resultado(s) sobre '@ViewBag.productoBuscar'</strong>
        </div>
    }
}

<div class="row table-responsive">
    <div class="col-12 mt-3">
        <table id="table" class="table table-hover">
            <thead>
                <tr>
                    <th>Código</th>
                    <th> Nombre</th>
                    <th>Valor unitario</th>
                    <th>Cantidad</th>
                    <th>Fecha de ingreso</th>
                    <th>Descripción</th>
                    <th>Solic. herramienta</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.products != null)
                {
                    @foreach (ProductViewModel temp in ViewBag.products)
                    {
                        <tr>
                            <td>@temp.CodigoProducto</td>
                            <td>@temp.NombreProducto</td>
                            <td>@temp.ValorUnitario</td>
                            <td>@temp.Cantidad</td>
                            <td>@temp.FechaIngreso</td>
                            <td>@temp.Descripcion</td>
                            <td>
                                <button class="btn btn-primary" onclick="putOnModalReport(this); return false;" data-bs-toggle="modal" data-bs-target="#modalTomar">
                                    <i class="fas fa-hand-paper"></i>
                                </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal" id="modalTomar" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div style="background-color: #6DC7F6;" class="modal-header">
                <h5 id="productoSolicitado" class="modal-title"></h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" asp-controller="Product" asp-action="RealizarReporte" class="mt-2 ml-2 p-3 needs-validation" novalidate>
                    <h5 class="modal-data mt-1">Yo: <span style="color: #6DC7F6;">@this.Context.User.Identity.Name</span></h5>
                    <div class="form-group">
                        <label for="taDetalles">Reporto solicitud de:</label>
                        <input readonly type="text" name="CodigoProducto" class="form-control" id="productoS" required>
                    </div>
                    <div class="form-group mt-2">
                        <label for="itStocl">Tomaré la cantidad de: </label>
                        <input type="number" min="1" name="Cantidad" value="" class="form-control" id="stock" placeholder="productos" required>
                        <div class="invalid-feedback">
                            Elige una cantidad
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="taDetalles">Para la cual:</label>
                        <textarea class="form-control" id="detalles" name="Descripcion" style="resize:none; height:5em; width:20em;" placeholder="detalles" required></textarea>
                        <div class="invalid-feedback">
                            El detalle es obligatorio
                        </div>
                    </div>
                    <button type="submit" data-bs-toggle="modal" data-bs-target="#modalMensaje" style="background-color: #6DC7F6;" class="btn btn-primary mt-2">Reportar</button>
                </form>
            </div>
            <div style="background-color: #6DC7F6;" class="modal-footer">
                <button type="button" style="background-color: #313436;" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Product.js" asp-append-version="true"></script>

@section scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
            $(document).ready(function () {
            if ('@ViewBag.ShowModalResponse' === 'True') {
               createModalResponse("@ViewBag.mensaje");
            }
           });
    </script>
}
