@model Gestor_Digital_ASADA_CL.Models.ProductViewModel
@{
    ViewData["Titulo"] = "Gestor de inventario";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="mt-4 mb-2">
    <h1 class="promo-table__title d-inline me-3">Control de inventario</h1>
    <button id="btn__add--products" class="btn mb-3 d-inline btn__add"
            data-bs-toggle="modal"
            data-bs-target="#modalRegistrar"
            data-bs-placement="right"
            title="Agregar producto">
        <img src="~/assets/add_black_24dp.svg" alt="Icono de agregar" />
    </button>
    <button id="btn__search--products" class="btn mb-3 d-inline btn__search"
            data-bs-toggle="modal"
            data-bs-target="#searchModal"
            data-bs-placement="right"
            title="Busqueda de productos">
        <img src="~/assets/search_black_24dp.svg" alt="Icono de historial" />
    </button>
    <button id="btn__search--history" class="btn mb-3 d-inline btn__search"
            data-bs-toggle="modal"
            data-bs-target="#modalVerInforme"
            data-bs-placement="right"
            title="Reporte de solicitudes">
        <img src="~/assets/assessment_black_24dp.svg" alt="Icono de busqueda" />
    </button>
    <button id="btn__refresh--products" class="btn mb-3 d-inline btn__refresh"
            title="Refrescar tabla" onclick="refreshPage(); return false">
        <img src="~/assets/refresh_black_24dp.svg" alt="Icono de busqueda" />
    </button>
</div>
<hr />
@if (ViewBag.resultadoBusqueda != null)
{
    @if (ViewBag.cantidadResultado != null)
    {
        <div class="alert alert-success mt-1 ">
            <button type="button" class="btn close" data-bs-dismiss="alert">&times;</button>
            <strong>Se han encontrado @ViewBag.cantidadResultado resultado(s) sobre '@ViewBag.productoBuscar'</strong>
        </div>
    }
    else
    {
        <div class="alert alert-warning mt-1">
            <button type="button" class="btn close" data-bs-dismiss="alert">&times;</button>
            <strong>No se han encontrado resultado(s) sobre '@ViewBag.productoBuscar'</strong>
        </div>
    }
}
<div>
    <div class="row table-responsive">
        <div class="col-12">
            <table id="tableProducts" class="table table-bordered table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Valor unitario</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Fecha de ingreso</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody id="tbodyProducts">
                    @if (ViewBag.products != null)
                    {
                        @foreach (ProductViewModel temp in ViewBag.products)
                        {
                            <tr>
                                <td>@temp.CodigoProducto</td>
                                <td>@temp.NombreProducto</td>
                                <td>@temp.ValorUnitario</td>
                                <td>@temp.Cantidad</td>
                                <td>@temp.FechaIngreso.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                <td>@temp.Descripcion</td>
                                <td>
                                    <button class="btn btn-info" onclick="putOnModalReport(this); return false;" data-bs-toggle="modal" data-bs-target="#modalTomar">
                                        <i class="fas fa-hand-paper" style="color:#ffff"></i>
                                    </button>
                                    <button class="btn  btn-primary" onclick="putOnModal(this); return false;" data-bs-toggle="modal" data-bs-target="#modalEditar">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button class="btn btn-danger" onclick="putOnModalDelete(this); return false;" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modalTomar" tabindex="-1" aria-labelledby="addModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="productoSolicitado" class="modal-title"></h5>
            </div>
            <form id="formRequestProduct" class="needs-validation" novalidate asp-controller="Product" asp-action="RealizarReporte">
                <div class="modal-body">
                    <div class="container">
                        <h5 class="modal-data mb-3">Yo: <span style="color: #6DC7F6;">@this.Context.User.Identity.Name</span></h5>
                        <div class="mb-3">
                            <label for="productoS" class="form-label">Reporto solicitud del producto</label>
                            <input id="productoS" class="form-control" type="text" readonly asp-for="CodigoProducto">
                        </div>
                        <div class="mb-3">
                            <label for="inputDetail" class="form-label">Tomaré la cantidad de:</label>
                            <input id="inputDetail" class="form-control" type="number" min="1" placeholder="Ingrese la cantidad a retirar" asp-for="Cantidad" required>
                            <span class="field-validation-error" asp-validation-for="Cantidad"></span>
                        </div>
                        <div class="mb-3">
                            <label for="inputDetail" class="form-label">Para la cual:</label>
                            <textarea id="detalles" class="form-control" placeholder="Ingrese el porqué de la solicitud" asp-for="Descripcion" required></textarea>
                            <span class="field-validation-error" asp-validation-for="Descripcion"></span>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button id="btn-search" type="submit" class="btn btn-primary" form="formRequestProduct">Solicitar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar información del producto</h5>
            </div>
            <form id="formEditModal" class="row g-3 modal-body needs-validation" novalidate method="post" asp-controller="Product" asp-action="EditarProducto">
                <div class="col-md-4">
                    <label for="codigo" class="form-label">Código: </label>
                    <input class="form-control" asp-for="CodigoProducto" readonly id="codigo">
                    <span class="field-validation-error" asp-validation-for="CodigoProducto"></span>
                </div>
                <div class="col-md-4">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input id="nombre" class="form-control" type="text" placeholder="Ingrese el nombre" asp-for="NombreProducto" required>
                    <span class="field-validation-error" asp-validation-for="NombreProducto"></span>
                </div>
                <div class="col-md-4">
                    <label for="cantidad" class="form-label">Cantidad</label>
                    <input id="cantidad" class="form-control" type="number" min="1" step="1" placeholder="Ingrese la cantidad" asp-for="Cantidad" required>
                    <span class="field-validation-error" asp-validation-for="Cantidad"></span>
                </div>
                <div class="col-12">
                    <label for="valor" class="form-label">Valor unitario</label>
                    <input id="valor" class="form-control" type="text" placeholder="Ingrese el nombre de usuario" asp-for="ValorUnitario" required>
                    <span class="field-validation-error" asp-validation-for="ValorUnitario"></span>
                </div>
                <div class="col-12">
                    <label for="fechaE" class="form-label">Fecha de ingreso</label>
                    <input id="fechaE" class="form-control" type="datetime-local" placeholder="Ingrese la fecha de ingreso" asp-for="FechaIngreso" required>
                    <span class="field-validation-error" asp-validation-for="FechaIngreso"></span>
                </div>
                <div class="col-12">
                    <label for="descripcion" class="form-label">Descripción</label>
                    <textarea id="descripcion" class="form-control" placeholder="Ingrese la descripción" asp-for="Descripcion" required></textarea>
                    <span class="field-validation-error" asp-validation-for="Descripcion"></span>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button id="btnAdd" type="submit" class="btn btn-primary" form="formEditModal">Actualizar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Está seguro de eliminar a este producto?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formDeleteUser" class="modal-body" method="post" asp-controller="Product" asp-action="BorrarProducto">
                <input id="productCode" type="hidden" name="productCode">
                <div id="msgContainerDeleteModal"></div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" form="formDeleteUser">Confirmar eliminación</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalRegistrar" tabindex="-1" aria-labelledby="addModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Registrar producto</h5>
            </div>
            <form id="formAddModal" class="row g-3 modal-body needs-validation" novalidate method="POST" asp-controller="Product" asp-action="RegistrarProducto">
                <div class="col-md-4">
                    <label for="codigo" class="form-label">Codigo</label>
                    <input  class="form-control" type="text" placeholder="Ingrese el codigo" asp-for="CodigoProducto" required>
                    <div class="invalid-feedback">
                        Rellene el código
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input  class="form-control" type="text" placeholder="Ingrese el nombre" asp-for="NombreProducto" required>
                    <div class="invalid-feedback">
                        Rellene el nombre
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="cantidad" class="form-label">Cantidad</label>
                    <input  class="form-control" type="number" min="1" step="1" placeholder="Ingrese la cantidad" asp-for="Cantidad" required>
                    <div class="invalid-feedback">
                        Rellene la cantidad
                    </div>
                </div>
                <div class="col-12">
                    <label for="valor" class="form-label">Valor unitario</label>
                    <input  class="form-control" type="text" placeholder="Ingrese el valor unitario" asp-for="ValorUnitario" required>
                    <div class="invalid-feedback">
                        Rellene el valor unitario
                    </div>
                </div>
                <div class="col-12">
                    <label for="fecha" class="form-label">Fecha de ingreso</label>
                    <input  class="form-control" type="datetime-local" placeholder="Ingrese la fecha de ingreso" asp-for="FechaIngreso" required>
                    <div class="invalid-feedback">
                        Rellene la fecha de ingreso
                    </div>
                </div>
                <div class="col-12">
                    <label for="descripcion" class="form-label">Descripción</label>
                    <textarea class="form-control" placeholder="Ingrese la descripción" asp-for="Descripcion" required></textarea>
                    <div class="invalid-feedback">
                        Rellene la descripción
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button id="btnAdd" type="submit" class="btn btn-primary" form="formAddModal">Registrar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalVerInforme" tabindex="-1" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reporte de inventario</h5>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row table-responsive">
                        <div class="col-12 table-wrapper">
                            @if (ViewBag.reportes != null)
                            {
                                <table id="tb_reportes" class="table table-bordered table-striped table-hover nowrap">
                                    <thead class="table-dark">
                                        <tr>
                                            <th scope="col">Código producto</th>
                                            <th scope="col">Usuario</th>
                                            <th scope="col">Cantidad</th>
                                            <th scope="col">Detalles</th>
                                            <th scope="col">Fecha</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyHistory">
                                        @foreach (SolicitudProducto reporte in ViewBag.reportes)
                                        {
                                            <tr>
                                                <td>@reporte.CodigoProducto</td>
                                                <td> @reporte.NombreUsuario</td>
                                                <td>@reporte.Cantidad</td>
                                                <td>@reporte.Detalles</td>
                                                <td>@reporte.Fecha</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <h5>No hay reportes realizados</h5>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Búsqueda de producto</h5>
            </div>
            <form id="formSearchModal" class="modal-body needs-validation" novalidate method="get" asp-controller="Product" asp-action="BuscarProducto">
                <div class="container">
                    <div class="mb-3">
                        <label for="producto" class="form-label">Nombre</label>
                        <input id="producto" class="form-control" type="text" placeholder="nombre ó c-código" asp-for="NombreProducto" required>
                        <span class="field-validation-error" asp-validation-for="NombreProducto"></span>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button id="btn-search" type="submit" class="btn btn-primary" form="formSearchModal">Buscar</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="~/js/Product.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ('@ViewBag.ShowModalResponse' ==="True") {
               createModalResponse2("@ViewBag.mensaje");
            }
            $("#tb_reportes").DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                },
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
           });
    </script>
}
