@model User
@{
    ViewData["Titulo"] = "Gestor de usuarios";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="mt-4 mb-2">
    <h1 class="promo-table__title d-inline me-3">Gestor de usuarios</h1>
    <button id="btn__add--user" class="btn mb-3 d-inline btn__add"
            data-bs-toggle="modal"
            data-bs-target="#addModal"
            data-bs-placement="right"
            title="Agregar usuario"
            onclick="putRolesOnAddModal(); return false;">
        <img src="~/assets/add_black_24dp.svg" alt="Icono de agregar" />
    </button>
    <button id="btn__search--user" class="btn mb-3 d-inline btn__search"
            data-bs-toggle="modal"
            data-bs-target="#searchModal"
            data-bs-placement="right"
            title="Busqueda de usuarios"
            onclick="putRolesOnAddModal(); return false;">
        <img src="~/assets/search_black_24dp.svg" alt="Icono de busqueda" />
    </button>
    <button id="btn__refresh--user" class="btn mb-3 d-inline btn__refresh"
            title="Refrescar tabla" onclick="refreshPage(); return false">
        <img src="~/assets/refresh_black_24dp.svg" alt="Icono de busqueda" />
    </button>
</div>
<hr />
<div>
    <div class="row table-responsive">
        <div class="col-12">
            <table class="table table-bordered table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Cédula</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Nombre de usuario</th>
                        <th scope="col">Contraseña</th>
                        <th scope="col">Puesto</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody id="tbodyUser">
                    @if (ViewBag.Users != null)
                    {
                        @foreach (User u in ViewBag.Users)
                        {
                            <tr>
                                <td>@u.IdUsuario</td>
                                <td>@u.Cedula</td>
                                <td>@u.Nombre</td>
                                <td>@u.Apellidos</td>
                                <td>@u.NombreUsuario</td>
                                <td>@u.Contrasenia</td>
                                @foreach (var item in ((IEnumerable<dynamic>)ViewBag.Roles).Where(x => x.IdRole == u.IdRole))
                                {
                                    <td>@item.TipoRole</td>
                                }
                                <td>
                                    <button class="btn btn-primary btn-sm my-1 my-xl-0" data-bs-toggle="modal" data-bs-target="#editModal" onclick="putUserOnEditModal(this); return false;">
                                        Modificar
                                        <img src="~/assets/edit_white_18dp.svg" alt="Icono eliminar usuario" class="ms-2 my-1" />
                                    </button>
                                    <button class="btn btn-danger btn-sm my-1 my-xl-0" data-bs-toggle="modal" data-bs-target="#deleteModal" onclick="putUserFullNameOnDeleteModal(this); return false">
                                        Eliminar
                                        <img src="~/assets/person_remove_white_18dp.svg" alt="Icono eliminar usuario" class="ms-2 my-1" />
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Busqueda de usuarios</h5>
            </div>
            <form id="formSearchModal" class="modal-body needs-validation" method="get" asp-controller="User" asp-action="Details" novalidate>
                <div class="container">
                    <div class="mb-3">
                        <label for="" class="form-label">Nombre del trabajador</label>
                        <input id="" class="form-control" type="text" placeholder="Ingrese el nombre del trabajador" asp-for="Nombre" required>
                        <span class="field-validation-error" asp-validation-for="Nombre"></span>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button id="btn-search" type="submit" class="btn btn-primary" form="formSearchModal">Buscar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modificar información del usuario</h5>
            </div>
            <form id="formEditUserModal" class="row g-3 needs-validation modal-body mx-1" method="post" asp-controller="User" asp-action="Edit" novalidate>
                <input id="inputIdUser" class="form-control is-invalid" type="hidden" asp-for="IdUsuario" />
                <div class="col-md-4">
                    <label for="inputName" class="form-label">Nombre</label>
                    <input id="inputName" class="form-control" type="text" placeholder="Ingrese el nombre" asp-for="Nombre" required>
                    <span class="field-validation-error" asp-validation-for="Nombre"></span>
                </div>
                <div class="col-md-4">
                    <label for="inputLastName" class="form-label">Apellido</label>
                    <input id="inputLastName" class="form-control" type="text" placeholder="Ingrese el apellido" asp-for="Apellidos" required>
                    <span class="field-validation-error" asp-validation-for="Apellidos"></span>
                </div>
                <div class="col-md-4">
                    <label for="inputIdCard" class="form-label">Cédula del trabajador</label>
                    <input id="inputIdCard" class="form-control" type="text" placeholder="Ingrese la cédula" asp-for="Cedula" required>
                    <span class="field-validation-error" asp-validation-for="Cedula"></span>
                </div>
                <div class="col-12">
                    <label for="inputUserName" class="form-label">Nombre de usuario</label>
                    <input id="inputUserName" class="form-control" type="text" placeholder="Ingrese el nombre de usuario" asp-for="NombreUsuario" required>
                    <span class="field-validation-error" asp-validation-for="NombreUsuario"></span>
                </div>
                <div class="col-12">
                    <label for="inputPassword" class="form-label">Contraseña</label>
                    <input id="inputPassword" class="form-control" type="text" placeholder="Ingrese la contraseña" asp-for="Contrasenia" required>
                    <span class="field-validation-error" asp-validation-for="Contrasenia"></span>
                </div>
                <div class="col-12">
                    <label id="jobLabelId" for="selectPuesto" class="form-label">Puesto</label>
                    <select id="selectJobsEditModal" class="form-select" aria-label="Lista puesto" asp-for="RoleName" required></select>
                    <span class="field-validation-error" asp-validation-for="RoleName"></span>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button id="btnEdit" type="submit" class="btn btn-primary" form="formEditUserModal">Actualizar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Registrar un nuevo usuario</h5>
            </div>
            <form id="formAddModal" class="row g-3 needs-validation modal-body mx-1" method="post" asp-controller="User" asp-action="Create">
                <div class="col-md-4">
                    <label for="inputName" class="form-label">Nombre del trabajor</label>
                    <input id="inputName" class="form-control" type="text" placeholder="Ingrese el nombre" asp-for="Nombre" required>
                    <span class="field-validation-error" asp-validation-for="Nombre"></span>
                </div>
                <div class="col-md-4">
                    <label for="inputLastName" class="form-label">Apellido del trabajador</label>
                    <input id="inputLastName" class="form-control" type="text" placeholder="Ingrese el apellido" asp-for="Apellidos" required>
                    <span class="field-validation-error" asp-validation-for="Apellidos"></span>
                </div>
                <div class="col-md-4">
                    <label for="inputIdCard" class="form-label">Cédula del trabajador</label>
                    <input id="inputIdCard" class="form-control" type="text" placeholder="Ingrese la cédula" asp-for="Cedula" required>
                    <span class="field-validation-error" asp-validation-for="Cedula"></span>
                </div>
                <div class="col-12">
                    <label for="inputUserName" class="form-label">Nombre de usuario del trabajor</label>
                    <input id="inputUserName" class="form-control" type="text" placeholder="Ingrese el nombre de usuario" asp-for="NombreUsuario" required>
                    <span class="field-validation-error" asp-validation-for="NombreUsuario"></span>
                </div>
                <div class="col-12">
                    <label for="inputPassword" class="form-label">Contraseña del trabajador</label>
                    <input id="inputPassword" class="form-control" type="text" placeholder="Ingrese la contraseña" asp-for="Contrasenia" required>
                    <span class="field-validation-error" asp-validation-for="Contrasenia"></span>
                </div>
                <div class="col-12">
                    <label for="selectPuesto" class="form-label">Puesto</label>
                    <select id="selectJobsAddModal" class="form-select selectJobNames" aria-label="Lista puesto" asp-for="RoleName" required></select>
                    <span class="field-validation-error" asp-validation-for="RoleName"></span>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button id="btnAdd" type="submit" class="btn btn-primary" form="formAddModal">Registrar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Está seguro de eliminar a este usuario?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formDeleteUser" class="modal-body" method="post" asp-controller="User" asp-action="Delete">
                <div id="msgContainerDeleteModal"></div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" form="formDeleteUser">Confirmar eliminación</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/User.js" asp-append-version="true"></script>
    <script type="text/javascript">
            $(document).ready(function () {
            if ('@ViewBag.ShowModalResponse' === 'True') {
                createModalResponse2("@ViewBag.Message");
            }
           });
    </script>
}