@{
    ViewData["Titulo"] = "Gestor de cloro residual";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model Gestor_Digital_ASADA_CL.Models.CloroViewModel

<div class="mt-4 mb-2">
    <h1 class="promo-table__title d-inline me-3">Gestor de cloro residual</h1>
    <button id="btn__insert--user" class="btn  mb-3 d-inline btn__add"
            data-bs-toggle="modal"
            data-bs-target="#insertModal"
            data-bs-placement="right"
            title="Registro de averías">
        <img src="~/assets/add_black_24dp.svg" alt="Icono de insertar" />
    </button>
    <button id="btn__search--user" class="btn  mb-3 d-inline btn__search"
            data-bs-toggle="modal"
            data-bs-target="#searchModal"
            data-bs-placement="right"
            title="Busqueda de averías">
        <img src="~/assets/search_black_24dp.svg" alt="Icono de busqueda" />
    </button>
    <button id="btn__refresh--user" class="btn  mb-3 d-inline btn__refresh"
            title="Refrescar tabla" onclick="refreshPage(); return false">
        <img src="~/assets/refresh_black_24dp.svg" alt="Icono de refresh" />
    </button>
</div>
<hr />
<div>
    <div class="row table-responsive">
        <div class="col-lg-auto">
            <table class="table table-bordered table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fecha y hora</th>
                        <th scope="col">Porcentaje de cloro</th>
                        <th scope="col">Número de casa</th>
                        <th scope="col">Nombre del abonado</th>
                        <th scope="col">Nombre del trabajador</th>
                        <th scope="col">Detalles</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody id="tbodyUserSearch">
                    @if (ViewBag.cloro != null)
                    {
                        @foreach (CloroViewModel cloro in ViewBag.cloro)
                        {
                            <tr>
                                <td>@cloro.IdCloroResidual</td>
                                <td>@cloro.Fecha.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                <td>@cloro.PorcentajeCloro</td>
                                <td>@cloro.NumeroCasa</td>
                                <td>@cloro.NombreCliente</td>

                                @foreach (User user in ((IEnumerable<dynamic>)ViewBag.Allfontaneros).Where(x => x.IdUsuario == cloro.IdUsuario))
                                {
                                    <td>@user.Nombre @user.Apellidos</td>
                                }
                                <td>@cloro.Detalles</td>
                                <td>
                                    <button class="btn btn-primary btn-sm my-1 my-xl-0" onclick="putCloroOnModal(this);" data-bs-toggle="modal" data-bs-target="#editModal">
                                        Modificar
                                        <img src="~/assets/edit_white_18dp.svg" alt="Icono eliminar usuario" class="ms-2 my-1" />
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Búsqueda de cloro residual</h5>
            </div>
            <form id="formSearchModal" class="needs-validation modal-body" method="get" asp-controller="Cloro" asp-action="BuscarCloroPorFecha">
                <div class="container">
                    <div class="mb-3">
                        <label for="inputName" class="form-label">Fecha inicial</label>
                        <input id="inputName" class="form-control" type="datetime-local" asp-for="Fecha1" required>
                        <span class="field-validation-error" asp-validation-for="Fecha1"></span>
                    </div>
                    <div class="mb-3">
                        <label for="inputName" class="form-label">Fecha final</label>
                        <input id="inputName" class="form-control" type="datetime-local" asp-for="FechaFinal" required>
                        <span class="field-validation-error" asp-validation-for="FechaFinal"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button id="btn-search" type="submit" class="btn btn-primary" form="formSearchModal">Buscar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modificación de cloro residual</h5>
            </div>
            <form method="POST" asp-controller="Cloro" asp-action="ModificarCloro" class="row g-3 p-3 needs-validation" novalidate>
                <input id="inputIdCloro" type="hidden" asp-for="IdCloroResidual" />
                <div class="col-md-6">
                    <label for="inputDate" class="form-label">Fecha y hora</label>
                    <input id="inputDate" class="form-control" type="datetime-local" asp-for="Fecha" required>
                    <span class="field-validation-error" asp-validation-for="Fecha"></span>
                    
                </div>
                <div class="col-md-6">
                    <label for="inputPercent" class="form-label">Porcentaje de cloro</label>
                    <input id="inputPercent" class="form-control" type="number" min="0" step=".01" placeholder="Ingrese el porcentaje" asp-for="PorcentajeCloro" required>
                    <span class="field-validation-error" asp-validation-for="PorcentajeCloro"></span>
                    
                </div>
                <div class="col-6">
                    <label for="inputIdHouse" class="form-label">Número de casa</label>
                    <input id="inputIdHouse" class="form-control" type="number" placeholder="Ingrese el número" asp-for="NumeroCasa" required>
                    <span class="field-validation-error" asp-validation-for="NumeroCasa"></span>
                    
                </div>
                <div class="col-6">
                    <label for="inputNameC" class="form-label">Nombre del abonado</label>
                    <input id="inputNameC" class="form-control" type="text" placeholder="Ingrese el nombre" asp-for="NombreCliente" required>
                    <span class="field-validation-error" asp-validation-for="NombreCliente"></span>
                   
                </div>
                <div class="col-6">
                    <label for="inputNameE" class="form-label">Nombre del trabajador</label>
                    <select id="inputNameE" class="form-select sedit" aria-label="NombreTrabajador" asp-for="IdUsuario" required>
                        @if (ViewBag.fontaneros != null)
                        {
                            <option value="fonta">Seleccione el fontanero</option>
                            @foreach (User fontanero in ViewBag.fontaneros)
                            {
                                <option value="@fontanero.IdUsuario">@fontanero.Nombre @fontanero.Apellidos</option>
                            }
                        }
                    </select>
                    <span class="field-validation-error" asp-validation-for="IdUsuario"></span>
                </div>
                <div class="col-6">
                    <label for="inputDetails" class="form-label">Detalles</label>
                    <textarea class="form-control" id="inputDetails" rows="2" placeholder="Ingrese detalles del reporte" asp-for="Detalles" required></textarea>
                    <span class="field-validation-error" asp-validation-for="Detalles"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button id="btn-search" type="submit" class="btn btn-primary">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="insertModal" tabindex="-1" aria-labelledby="insertModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Registro de cloro residual</h5>
            </div>
            <form method="POST" asp-controller="Cloro" asp-action="RegistrarCloro" class="row g-3 p-3 needs-validation" novalidate>
                <div class="col-md-6">
                    <label for="inputDate" class="form-label">Fecha y hora</label>
                    <input id="inputDate" class="form-control" type="datetime-local" asp-for="Fecha" required>
                    <span class="field-validation-error" asp-validation-for="Fecha"></span>
                    

                </div>
                <div class="col-md-6">
                    <label for="inputPercent" class="form-label">Porcentaje de cloro</label>
                    <input id="inputPercent" class="form-control" type="number" min="0" step=".01" placeholder="Ingrese el porcentaje" asp-for="PorcentajeCloro" required>
                    <span class="field-validation-error" asp-validation-for="PorcentajeCloro"></span>
                    
                </div>
                <div class="col-6">
                    <label for="inputIdHouse" class="form-label">Número de casa</label>
                    <input id="inputIdHouse" class="form-control" type="number" placeholder="Ingrese el número" asp-for="NumeroCasa" required>
                    <span class="field-validation-error" asp-validation-for="NumeroCasa"></span>
                    
                </div>
                <div class="col-6">
                    <label for="inputNameC" class="form-label">Nombre del abonado</label>
                    <input id="inputNameC" class="form-control" type="text" placeholder="Ingrese el nombre" asp-for="NombreCliente" required>
                    <span class="field-validation-error" asp-validation-for="NombreCliente"></span>
                    
                </div>
                <div class="col-6">
                    <label for="inputNameE" class="form-label">Nombre del trabajador</label>
                    <select id="inputNameE" class="form-select" aria-label="NombreTrabajador" asp-for="IdUsuario" required>
                        @if (ViewBag.fontaneros != null)
                        {
                            <option value="">Seleccione el trabajador</option>
                            @foreach (User fontanero in ViewBag.fontaneros)
                            {
                                <option value="@fontanero.IdUsuario"> @fontanero.Nombre @fontanero.Apellidos</option>
                            }
                        }
                    </select>
                    <span class="field-validation-error" asp-validation-for="IdUsuario"></span>
                </div>
                <div class="col-6">
                    <label for="inputDetails" class="form-label">Detalles</label>
                    <textarea id="inputDetails" class="form-control"  rows="2" placeholder="Ingrese detalles del reporte" asp-for="Detalles" required></textarea>
                    <span class="field-validation-error" asp-validation-for="Detalles"></span>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button id="btn-search" type="submit" class="btn btn-primary">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="~/js/Cloro.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ('@ViewBag.ShowModalResponse' === 'True') {
                createModalResponse2("@ViewBag.Message");
            }
        });
    </script>
}


